In [2]:
# Pandas y numpy para manipulación
import pandas as pd
import numpy as np
import glob as glob
import os as os
# Librerias para gráficos 
import seaborn as sns
import matplotlib.pyplot as plt
# Herramientas de modelado
import graphviz
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import accuracy_score

Unir los dataset csv

In [3]:
# merging the files
files_joined = os.path.join('./dataset/Electricity/', "*.csv")

# Return a list of all joined files
list_files = glob.glob(files_joined)

print("** Merging multiple csv files into a single pandas dataframe **")
# Merge files by joining all files
dataframe = pd.concat(map(pd.read_csv, list_files), ignore_index=True)
print(dataframe)

** Merging multiple csv files into a single pandas dataframe **
                net_manager                          purchase_area  \
0        Coteq Netbeheer BV  Netbeheerder Centraal Overijssel B.V.
1        Coteq Netbeheer BV  Netbeheerder Centraal Overijssel B.V.
2        Coteq Netbeheer BV  Netbeheerder Centraal Overijssel B.V.
3        Coteq Netbeheer BV  Netbeheerder Centraal Overijssel B.V.
4        Coteq Netbeheer BV  Netbeheerder Centraal Overijssel B.V.
...                     ...                                    ...
2779986      westland-infra                     871687800090000015
2779987      westland-infra                     871687800090000015
2779988      westland-infra                     871687800090000015
2779989      westland-infra                     871687800090000015
2779990      westland-infra                     871687800090000015

                      street zipcode_from zipcode_to      city  \
0                Dorpsstraat       7468CP     7471AA     ENTER
1              De Stoevelaar       7471AB     7471AB      GOOR
2              De Stoevelaar       7471AC     7471AC      GOOR
3              De Stoevelaar       7471AD     7471AE      GOOR
4                 Kerkstraat       7471AG     7471AG      GOOR
...                      ...          ...        ...       ...
2779986         IN DE BALIJE       3155XA     3155XA  MAASLAND
2779987  KONINGIN JULIANAWEG       3155XB     3155XB  MAASLAND
2779988  KONINGIN JULIANAWEG       3155XC     3155XD  MAASLAND
2779989  KONINGIN JULIANAWEG       3155XE     3155XH  MAASLAND
2779990           MERESTEIJN       3155XJ     3155XK  MAASLAND

         num_connections  delivery_perc  perc_of_active_connections  \
0                   19.0          89.47                       94.74
1                   37.0         100.00                      100.00
2                   16.0         100.00                      100.00
3                   25.0          92.00                       84.00
4                   14.0          85.71                      100.00
...                  ...            ...                         ...
2779986             14.0          92.86                      100.00
2779987             14.0          92.86                      100.00
2779988             29.0          75.86                      100.00
2779989             28.0          75.00                      100.00
2779990             19.0          73.68                      100.00

        type_conn_perc type_of_connection  annual_consume  \
0                   89               1x35          4122.0
1                   86               1x35          1800.0
2                  100               1x35          1315.0
3                   44               1x35          6379.0
4                   36               1x35          4404.0
...                ...                ...             ...
2779986             86               3x25          6313.0
2779987             64               3x25          4966.0
2779988             69               3x25          7293.0
2779989             71               3x25          3194.0
2779990             89               3x25          5713.0

         annual_consume_lowtarif_perc  smartmeter_perc  ï»¿NETBEHEERDER  \
0                               89.47             0.00              NaN
1                               94.59             0.00              NaN
2                              100.00             0.00              NaN
3                               92.00             0.00              NaN
4                               92.86             0.00              NaN
...                               ...              ...              ...
2779986                        100.00            85.71              NaN
2779987                        100.00           100.00              NaN
2779988                        100.00            82.76              NaN
2779989                         96.43            60.71              NaN
2779990                         94.74            47.37              NaN

        STANDAARDDEVIATIE  %Defintieve aansl (NRM)
0                     NaN                      NaN
1                     NaN                      NaN
2                     NaN                      NaN
3                     NaN                      NaN
4                     NaN                      NaN
...                   ...                      ...
2779986               NaN                    100.0
2779987               NaN                    100.0
2779988               NaN                    100.0
2779989               NaN                    100.0
2779990               NaN                    100.0

[2779991 rows x 17 columns]

In [4]:
dataframe.sample(5)

,net_manager,purchase_area,street,zipcode_from,zipcode_to,city,num_connections,delivery_perc,perc_of_active_connections,type_conn_perc,type_of_connection,annual_consume,annual_consume_lowtarif_perc,smartmeter_perc,ï»¿NETBEHEERDER,STANDAARDDEVIATIE,%Defintieve aansl (NRM)
1192277,Liander N.V. (NW),NaN,Piet de Winterlaan,1183WB,1183WB,AMSTELVEEN,22.0,95.45,100.0,86,1x25,3570.0,22.73,9.09,NaN,NaN,NaN
2072003,8716874000009,Stedin Utrecht,Charles Weddepohllaan,3739LE,3739LE,HOLLANDSCHE RADING,23.0,100.00,100.0,70,1x50,3758.0,47.83,0.00,NaN,NaN,NaN
914719,Liander N.V. (NW),Liander NW,Van Heuven Goedhartlaan,1181LJ,1181LJ,AMSTELVEEN,28.0,100.00,100.0,61,3x25,3047.0,14.29,0.00,NaN,NaN,NaN
1119151,Liander N.V.,NaN,Tolhuis,6537ST,6537ST,NIJMEGEN,25.0,100.00,100.0,96,1x25,2364.0,4.00,0.00,NaN,NaN,NaN
31746,8716902000001,Enduris Netgebied,Helmkruidstraat,4341JX,4341JX,ARNEMUIDEN,16.0,100.00,100.0,"56,25",1x35,3185.0,50.00,18.75,NaN,NaN,NaN

In [5]:
data_describe = pd.DataFrame(round(dataframe.isnull().sum() /dataframe.shape[0],2), columns= ['Porcentaje de nulos'])
data_describe['type'] = dataframe.dtypes
data_describe = data_describe[['type','Porcentaje de nulos']]
data_describe['Nulos'] = dataframe.isnull().sum()
values= []
example=[]
for x in dataframe:
    values.append(len(dataframe[x].unique()))
    example.append(dataframe[x].unique())
data_describe['Valores distintos'] = values
data_describe['Ejemplos'] = example

data_describe

,type,Porcentaje de nulos,Nulos,Valores distintos,Ejemplos
net_manager,object,0.01,29224,17,"[Coteq Netbeheer BV, Cogas Infra & Beheer BV, ..."
purchase_area,object,0.32,886657,15,"[Netbeheerder Centraal Overijssel B.V., Enduri..."
street,object,0.00,0,76459,"[Dorpsstraat, De Stoevelaar, Kerkstraat, Stati..."
zipcode_from,object,0.00,0,251927,"[7468CP, 7471AB, 7471AC, 7471AD, 7471AG, 7471A..."
zipcode_to,object,0.00,0,249440,"[7471AA, 7471AB, 7471AC, 7471AE, 7471AG, 7471A..."
city,object,0.00,0,1588,"[ENTER, GOOR, OLDENZAAL, ALMELO, ZIERIKZEE, OU..."
num_connections,float64,0.00,7,526,"[19.0, 37.0, 16.0, 25.0, 14.0, 11.0, 20.0, 12...."
delivery_perc,float64,0.00,1487,2617,"[89.47, 100.0, 92.0, 85.71, 84.21, 90.91, 95.0..."
perc_of_active_connections,float64,0.00,1487,3534,"[94.74, 100.0, 84.0, 85.0, 94.12, 88.89, 97.06..."
type_conn_perc,object,0.00,7,3615,"[89, 86, 100, 44, 36, 53, 64, 35, 67, 47, 93, ..."
type_of_connection,object,0.00,7,14,"[1x35, 3x25, 1x25, 3x63, 3x50, 3x35, 3x80, 1x6..."
annual_consume,float64,0.00,0,105270,"[4122.0, 1800.0, 1315.0, 6379.0, 4404.0, 5478...."
annual_consume_lowtarif_perc,float64,0.00,13268,5589,"[89.47, 94.59, 100.0, 92.0, 92.86, 95.0, 93.1,..."
smartmeter_perc,float64,0.00,13268,5652,"[0.0, 2.94, 4.76, 3.13, 4.35, 3.03, 89.0, 83.0..."
ï»¿NETBEHEERDER,float64,0.99,2750767,2,"[nan, 8716902000001.0]"
STANDAARDDEVIATIE,object,0.97,2693653,86024,"[nan, 6586,3873, 2100,0159, 1180,2710, 1294,53..."
%Defintieve aansl (NRM),float64,0.99,2755649,2,"[nan, 100.0]"